<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceriesApp"
        tools:targetApi="31">
        <activity
            android:name=".presentation.screen.explore.others"
            android:exported="false"
            android:label="@string/title_activity_others"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.DairyandEggsScreen"
            android:exported="false"
            android:label="@string/title_activity_dairyand_eggs_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.CerealsScreen"
            android:exported="false"
            android:label="@string/title_activity_cereals_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.MeatandFishScreen"
            android:exported="false"
            android:label="@string/title_activity_meatand_fish_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.VegScreen"
            android:exported="false"
            android:label="@string/title_activity_veg_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.ui.theme.VegetableScreen"
            android:exported="false"
            android:label="@string/title_activity_vegetable_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".presentation.screen.explore.FruitsScreen"
            android:exported="false"
            android:label="@string/title_activity_fruits_screen"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.GroceriesApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GroceriesApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>